body {
    font-family: 'Poppins', sans-serif;
    background: #faf7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    width: 100%;
    max-width: 1100px;
    padding: 30px;
}

.auth-card {
    display: flex;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    height: 600px;
}

.auth-left, .auth-right {
    flex: 1;
    padding: 50px;
}

.auth-right {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand {
    color: #b22222;
    margin-bottom: 15px;
}

h2 {
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.btn-primary {
    background: #b22222;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #a01d1d;
}

.form-text, .form-links {
    margin-top: 10px;
    font-size: 14px;
}

.form-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-right {
    color: #b22222;
    text-decoration: none;
}

.link-right:hover {
    text-decoration: underline;
}

.modal-right img {
    width: 420px;        
    height: 420px;       
    border-radius: 50%; 
    object-fit: cover;   
    box-shadow: 0 4px 15px rgba(124, 119, 119, 0.2); 
}
.payment-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

.card button {
    background-color: #0984e3;
    color: orange;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover {
    background-color: #74b9ff;
}

.validation-box {
    background-color: #ffa726;
    color: #fff;
    padding: 12px 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-8px); }
    to { opacity: 1; transform: translateY(0); }
}




